// Reseter
body {
    max-width: none;
    margin: 0;
    padding: 0;
    // display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    #root {
        height: 100%;
        width: 100%;
        .App {
            height: 100%;
            width: 100%;
            display: flex;
        }
    }
}

// set-various

.show {
    display: block;
}
.visible {
    opacity: 1;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    button {
        background-color: rgba(0, 0, 0, 0.7);
        display: flex;
        justify-content: center;
        padding: 0.3rem;
        border-radius: 100%;
        width: 70px;
        height: 70px;
        align-items: center;
        margin: 0.5rem;
        svg {
            color: #fff;
            font-size: 2rem;
        }
    }
}



// Main

main {
    height: 100%;
    min-width: 80%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    #index {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        // width: 100vw;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: start;
        &.setting-mode {
            .box .delete {
                display: block;
            }
            .directory .create-child {
                display: block;
            }
        }
    }
    .box {
        box-sizing: border-box;
        position: relative;
        padding: 0.5rem;
        text-align: center;
        margin: 25px;
        box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.6);
        border-radius: 0.5rem;
        width: 120px;
        height: 120px;
        
        &:nth-child(2n) {
            box-shadow: 0 0 1px 2px rgba(0, 255, 0, 0.6);
        }
        .delete {
            background-color: rgba($color: #000000, $alpha: 70%);
            display: none;
            position: absolute;
            top: 0%;
            right: 0%;
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            z-index: 2;
            svg {
                position: absolute;
                bottom: 2%;
                left: 2%;
            }
        }
        a {
            display: flex;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            color: #000;
            z-index: 1;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            white-space: pre-wrap;
            word-break: break-all;
            justify-content: center;
            padding: 0.5rem;
            &:visited {
                color: black;
                text-decoration: none;
            }
        }

        &.directory {
            // box-shadow: 0 0 1px 2px rgba(91, 94, 255, 0.7);
            background-image: url(./assets/folder.svg);
            background-repeat: no-repeat;
            background-size: 120%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-origin: border-box;
            background-position: center;
            box-shadow: none;
            
            &.open {
                background-image: url(./assets/folder-open.svg);
                background-size: 110%;
            }
            .create-child {
                display: none;
                position: absolute;
                z-index: 3;
                bottom: 2%;
                right: 2%;
                background-color: transparent;
                width: auto;
                height: auto;
                padding: 0;
                margin: 0;
            }

            span {
                overflow: hidden;
                padding: 0.5rem;
                text-overflow: ellipsis;
            }
        }

        &.child {
            transition: 0.5s;
            display: none;
            opacity: 0;
            transform: translateY(-150px);

            &.visible {
                transform: translateY(0);
                opacity: 1;
            }

            &.show {
                display: block;
            }
        }

        &.append-box {
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: none;
            border: dashed 2px #888;
            border-radius: 0.3rem;
            cursor: pointer;
            order: 999;
            span {
                font-weight: bold;
            }
            svg {
                margin-left: 0.3rem;
                // width: 40px;
                // height: 40px;
            }
        }
    }

    
}


#loader {
    display: none;
    opacity: 0;
    transition: 0.3s;
    &.loading {
        display: flex;
    }
    &.visible {
        opacity: 1;
    }
    position: fixed;
    z-index: 1;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        width: 300px;
        text-align: center;
    }
    .ball {
        position: absolute;
        top: calc(50% - 100px);
        left: calc(50% - 100px);
        z-index: -1;
        img {
            width: 200px;
            opacity: 0.8;
        }
    }
}
