// Background
#circler {
    position: absolute;
    top: calc(50% - 95vh / 2);
    left: calc(50% - 95vh / 2);
    width: 95vh;
    height: 95vh;
    opacity: 0.3;
    box-shadow: 0 0 10px rgb(10, 113, 17);
    border-radius: 100%;
    z-index: -1;
    .rotates-base {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        animation: rotate 60s steps(1, start) infinite;
        transform-origin: center;
        display: flex;
        align-items: center;
        &::before {
            content: "";
            position: absolute;
            width: 50%;
            height: 2px;
            background-color: #444;
            transform: translateX(47.5vh);
        }

        .rotate-dial {
            width: 450px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            animation: rotate-counter 60s steps(1, start) infinite;
            transform-origin: center;
            button {
                border: none;
                font-size: 64px;
                padding: 45px;
                border-radius: 10px;
                color: #fff;
            }
            &#rotate-dial-1 {
                button {
                    background-color: rgb(237, 109, 100);
                    transform-origin: -50% center;
                }
            }
            &#rotate-dial-2 {
                button {
                    transform-origin: 150% center;
                    background-color: rgb(5, 42, 63);
                }
            }
        }
    }
    .dials {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        span {
            position: absolute;
            font-size: 2.5rem;
            font-family: cursive;
            position: absolute;

            &#dial-1 {
                top: calc(78.61px - 28px);
                right: calc(231.525px - 9px);
            }
            &#dial-2 {
                top: calc(231.525px - 28px);
                right: calc(78.61px - 12px);
            }
            &#dial-3 {
                top: calc(441px - 28px);
                right: calc(22.05px - 12px);
            }
            &#dial-4 {
                right: calc(78.61px - 12px);
                bottom: calc(231.525px - 28px);
            }
            &#dial-5 {
                right: calc(231.525px - 12px);
                bottom: calc(78.61px - 28px);
            }
            &#dial-6 {
                right: calc(441px - 12px);
                bottom: calc(22.05px - 28px);
            }
            &#dial-7 {
                left: calc(231.525px - 12px);
                bottom: calc(78.61px - 28px);
            }
            &#dial-8 {
                left: 78.61px;
                bottom: calc(231.525px - 28px);
            }
            &#dial-9 {
                top: calc(441px - 28px);
                left: calc(22.05px - 12px);
            }
            &#dial-10 {
                top: calc(231.525px - 28px);
                left: calc(78.61px - 16px);
            }
            &#dial-11 {
                top: calc(78.61px - 28px);
                left: calc(231.525px - 16px);
            }
            &#dial-12 {
                right: calc(441px - 16px);
                top: calc(22.05px - 28px);
            }
        }
    }
    .rotates-minute {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transform-origin: center;
        display: flex;
        align-items: center;
        // animation: rotate 3600s steps(1, start) infinite;
        &::before {
            content: "";
            position: absolute;
            top: 10%;
            left: 50%;
            width: 3px;
            height: 40%;
            background-color: #222;
        }
    }
    .rotates-hour {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transform-origin: center;
        display: flex;
        align-items: center;
        // animation: rotate 3600s steps(1, start) infinite;
        &::before {
            content: "";
            position: absolute;
            top: 20%;
            left: calc(50% - 3px);
            width: 5px;
            height: 30%;
            background-color: #000;
        }
    }
}


@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    1.67% {
        transform: rotate(6deg);
    }
    3.34% {
        transform: rotate(12deg);
    }
    5.01% {
        transform: rotate(18deg);
    }
    6.68% {
        transform: rotate(24deg);
    }
    8.35% {
        transform: rotate(30deg);
    }
    10.02% {
        transform: rotate(36deg);
    }
    11.69% {
        transform: rotate(42deg);
    }
    13.36% {
        transform: rotate(48deg);
    }
    15.03% {
        transform: rotate(54deg);
    }
    16.7% {
        transform: rotate(60deg);
    }
    18.37% {
        transform: rotate(66deg);
    }
    20.04% {
        transform: rotate(72deg);
    }
    21.71% {
        transform: rotate(78deg);
    }
    23.38% {
        transform: rotate(84deg);
    }
    25.05% {
        transform: rotate(90deg);
    }
    26.72% {
        transform: rotate(96deg);
    }
    28.39% {
        transform: rotate(102deg);
    }
    30.06% {
        transform: rotate(108deg);
    }
    31.73% {
        transform: rotate(114deg);
    }
    33.4% {
        transform: rotate(120deg);
    }
    35.07% {
        transform: rotate(126deg);
    }
    36.74% {
        transform: rotate(132deg);
    }
    38.41% {
        transform: rotate(138deg);
    }
    40.08% {
        transform: rotate(144deg);
    }
    41.75% {
        transform: rotate(150deg);
    }
    43.42% {
        transform: rotate(156deg);
    }
    45.09% {
        transform: rotate(162deg);
    }
    46.76% {
        transform: rotate(168deg);
    }
    48.43% {
        transform: rotate(174deg);
    }
    50.1% {
        transform: rotate(180deg);
    }
    51.77% {
        transform: rotate(186deg);
    }
    53.44% {
        transform: rotate(192deg);
    }
    55.11% {
        transform: rotate(198deg);
    }
    56.78% {
        transform: rotate(204deg);
    }
    58.45% {
        transform: rotate(210deg);
    }
    60.12% {
        transform: rotate(216deg);
    }
    61.79% {
        transform: rotate(222deg);
    }
    63.46% {
        transform: rotate(228deg);
    }
    65.13% {
        transform: rotate(234deg);
    }
    66.8% {
        transform: rotate(240deg);
    }
    68.47% {
        transform: rotate(246deg);
    }
    70.14% {
        transform: rotate(252deg);
    }
    71.81% {
        transform: rotate(258deg);
    }
    73.48% {
        transform: rotate(264deg);
    }
    75.15% {
        transform: rotate(270deg);
    }
    76.82% {
        transform: rotate(276deg);
    }
    78.49% {
        transform: rotate(282deg);
    }
    80.16% {
        transform: rotate(288deg);
    }
    81.83% {
        transform: rotate(294deg);
    }
    83.5% {
        transform: rotate(300deg);
    }
    85.17% {
        transform: rotate(306deg);
    }
    86.84% {
        transform: rotate(312deg);
    }
    88.51% {
        transform: rotate(318deg);
    }
    90.18% {
        transform: rotate(324deg);
    }
    91.85% {
        transform: rotate(330deg);
    }
    93.52% {
        transform: rotate(336deg);
    }
    95.19% {
        transform: rotate(342deg);
    }
    96.86% {
        transform: rotate(348deg);
    }
    98.53% {
        transform: rotate(354deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate-counter {
    0% {
        transform: rotate(-0deg);
    }
    1.67% {
        transform: rotate(-6deg);
    }
    3.34% {
        transform: rotate(-12deg);
    }
    5.01% {
        transform: rotate(-18deg);
    }
    6.68% {
        transform: rotate(-24deg);
    }
    8.35% {
        transform: rotate(-30deg);
    }
    10.02% {
        transform: rotate(-36deg);
    }
    11.69% {
        transform: rotate(-42deg);
    }
    13.36% {
        transform: rotate(-48deg);
    }
    15.03% {
        transform: rotate(-54deg);
    }
    16.7% {
        transform: rotate(-60deg);
    }
    18.37% {
        transform: rotate(-66deg);
    }
    20.04% {
        transform: rotate(-72deg);
    }
    21.71% {
        transform: rotate(-78deg);
    }
    23.38% {
        transform: rotate(-84deg);
    }
    25.05% {
        transform: rotate(-90deg);
    }
    26.72% {
        transform: rotate(-96deg);
    }
    28.39% {
        transform: rotate(-102deg);
    }
    30.06% {
        transform: rotate(-108deg);
    }
    31.73% {
        transform: rotate(-114deg);
    }
    33.4% {
        transform: rotate(-120deg);
    }
    35.07% {
        transform: rotate(-126deg);
    }
    36.74% {
        transform: rotate(-132deg);
    }
    38.41% {
        transform: rotate(-138deg);
    }
    40.08% {
        transform: rotate(-144deg);
    }
    41.75% {
        transform: rotate(-150deg);
    }
    43.42% {
        transform: rotate(-156deg);
    }
    45.09% {
        transform: rotate(-162deg);
    }
    46.76% {
        transform: rotate(-168deg);
    }
    48.43% {
        transform: rotate(-174deg);
    }
    50.1% {
        transform: rotate(-180deg);
    }
    51.77% {
        transform: rotate(-186deg);
    }
    53.44% {
        transform: rotate(-192deg);
    }
    55.11% {
        transform: rotate(-198deg);
    }
    56.78% {
        transform: rotate(-204deg);
    }
    58.45% {
        transform: rotate(-210deg);
    }
    60.12% {
        transform: rotate(-216deg);
    }
    61.79% {
        transform: rotate(-222deg);
    }
    63.46% {
        transform: rotate(-228deg);
    }
    65.13% {
        transform: rotate(-234deg);
    }
    66.8% {
        transform: rotate(-240deg);
    }
    68.47% {
        transform: rotate(-246deg);
    }
    70.14% {
        transform: rotate(-252deg);
    }
    71.81% {
        transform: rotate(-258deg);
    }
    73.48% {
        transform: rotate(-264deg);
    }
    75.15% {
        transform: rotate(-270deg);
    }
    76.82% {
        transform: rotate(-276deg);
    }
    78.49% {
        transform: rotate(-282deg);
    }
    80.16% {
        transform: rotate(-288deg);
    }
    81.83% {
        transform: rotate(-294deg);
    }
    83.5% {
        transform: rotate(-300deg);
    }
    85.17% {
        transform: rotate(-306deg);
    }
    86.84% {
        transform: rotate(-312deg);
    }
    88.51% {
        transform: rotate(-318deg);
    }
    90.18% {
        transform: rotate(-324deg);
    }
    91.85% {
        transform: rotate(-330deg);
    }
    93.52% {
        transform: rotate(-336deg);
    }
    95.19% {
        transform: rotate(-342deg);
    }
    96.86% {
        transform: rotate(-348deg);
    }
    98.53% {
        transform: rotate(-354deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

@media screen and (max-width: 1000px) {
    .rotate-dial > button {
        font-size: 5vw;
        padding: 30px;
        border-radius: 10px;
    }
}
